{% extends "base.html" %}

{% block content %}
    <h2>Add New Student</h2>
    <form action="/add" method="POST" onsubmit="return validateForm()">
        
        <label>Full Name:</label>
        <input type="text" name="name" required>

        <label>Age:</label>
        <input type="number" name="age" required>

        <label>Class:</label>
        <input type="text" name="class" placeholder="e.g. 1st Year" required>

        <label>Gender:</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <h3>Subject Marks</h3>
        <label>Mathematics:</label>
        <input type="number" name="maths" step="0.1" required>

        <label>PPS:</label>
        <input type="number" name="pps" step="0.1" required>

        <label>Economics:</label>
        <input type="number" name="eco" step="0.1" required>

        <label>Physics:</label>
        <input type="number" name="phy" step="0.1" required>

        <button type="submit">Save Student</button>
    </form>
{% endblock %}