<!DOCTYPE html>
<html>
<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>

    <div class="container">
        <h1>Student Management System</h1>
        
        <div class="nav-bar">
            <a href="/">Home</a>
            <a href="/add">Add Student</a>
            <a href="/view">View Students</a>
            <a href="/search">Search</a>
            <a href="/update">Update Marks</a>
            <a href="/delete">Delete Student</a>
            <a href="/average">Class Average</a>
        </div>
        
        <hr>

        {% block content %}{% endblock %}
    </div>

</body>
</html>