{% extends "base.html" %}

{% block content %}
    <h2>Search Student</h2>
    
    <form action="/search" method="POST">
        <label>Enter Name (Partial or Full):</label>
        <input type="text" name="search_name" required>
        <button type="submit">Search</button>
    </form>

    {% if search_term %}
        <h3>Results for "{{ search_term }}"</h3>
        
        {% if students %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Class</th>
                </tr>
                {% for s in students %}
                <tr>
                    <td>{{ s.student_id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.class }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="error">No matches found.</p>
        {% endif %}
    {% endif %}
{% endblock %}