{% extends "base.html" %}

{% block content %}
    <h2>All Students Records</h2>

    {% if students|length == 0 %}
        <p class="error">No students added yet.</p>
    {% else %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Class</th>
                <th>Maths</th>
                <th>PPS</th>
                <th>Eco</th>
                <th>Phy</th>
            </tr>
            {% for s in students %}
            <tr>
                <td>{{ s.student_id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.class }}</td>
                <td>{{ s.grades.Mathematics }}</td>
                <td>{{ s.grades.PPS }}</td>
                <td>{{ s.grades.Economics }}</td>
                <td>{{ s.grades.Physics }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}